Rplots.pdf
vignette-benchmarkOverall.pdf
vignette-performanceDtw.pdf
vignette-performance_dtw.pdf
vignette.bbl
vignette.blg
vignette.log
vignette.pdf
vignette.synctex.gz(busy)
vignette.tex
vignette.toc
parallelDist.log
parallelDist.pdf
parallelDist.synctex.gz
parallelDist.tex
parallelDist.toc
parallelDist-benchmarkOverall.pdf
parallelDist-performanceDtw.pdf
parallelDist.synctex.gz(busy)
parallelDist-concordance.tex
